<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <el-ignored>false</el-ignored>
        </jsp-property-group>
    </jsp-config>
<!--    <jsp-config>-->
<!--        <taglib>-->
<!--            <taglib-uri>/WEB-INF/jstl-core.tld</taglib-uri>-->
<!--            <taglib-location>/WEB-INF/lib/jstl-1.2.jar</taglib-location>-->
<!--        </taglib>-->
<!--    </jsp-config>-->
    <servlet>
        <servlet-name>EtudiantServlet</servlet-name>
        <servlet-class>com.example.tp308.EtudiantServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EtudiantServlet</servlet-name>
        <url-pattern>/EtudiantServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveEtudiantServlet</servlet-name>
        <servlet-class>com.example.tp308.SaveEtudiantServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveEtudiantServlet</servlet-name>
        <url-pattern>/SaveEtudiantServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PayementServlet</servlet-name>
        <servlet-class>com.example.tp308.PayementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PayementServlet</servlet-name>
        <url-pattern>/PayementServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.example.tp308.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListStudentServlet</servlet-name>
        <servlet-class>com.example.tp308.ListStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListStudentServlet</servlet-name>
        <url-pattern>/ListStudentServlet</url-pattern>
    </servlet-mapping>

</web-app>